.calculette {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: khaki;
    width: 400px;
    padding: 20px;
    border: solid, 1px, black;
}

.result {
    display : flex;
    justify-content: center;
    align-items: center;
    height : 100px;
    margin: 20px;
    background-color: gray;
    font-size: 40px;
    color: white;
    font-weight: 800;
    border-radius:0%
}

.number,
.sign {
    font-weight: 600;
    height : 70px;
    width: 70px;
    margin-bottom: 5px;
}

.number {
    padding:5px;
    margin:5px;
}

.boutonWrapper {
    display: flex;
    justify-content: space-around;

}

#signWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
    margin: 0px;
}

#numberWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    margin: 0px;

}

.bottom {
    display:flex;
    height: 50px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    padding: 10px;
}

#clear {
    width : 400px;
}